<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- Main header -->
    <div class="container-fluid main-header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- Left side div -->
            <div class="col-md-6 col-12 main_header_right align-item-center">
              <figure >
                <img
                  src="images/darkImg.webp"
                  alt="singh"
                  class="img-fluid"
                  title="thakur sahab"
                />
              </figure>
            </div>
            <!-- Right side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>
                I Am A<span class="text-clr">Web Developer</span> And A Student
              </h1>
              <a href="/about us"><button>About Me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer  -->
    {{>footer}}
  </body>
</html>
